.seccion1 {
    background: red;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
}

.seccion2 {
    background: green;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
}

.seccion3 {
    background: blue;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 4px;
}

.seccion4 {
    background: orange;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-top: 3px solid black;
}

.seccion5 {
    background: orange;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-top: 3px solid black;
}

.seccion6 {
    background: purple;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: black;

    border-bottom-width: 3px;
    border-bottom-style: dashed;
    border-bottom-color: black;
}

.seccion7 {
    background: purple;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 3px dashed black;
}

.seccion8 {
    background: cornflowerblue;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 10px;
}
.seccion9 {
    background: hotpink;
    width: 150px;
    margin: 10px 40px 10px 40px;
    text-align: center;
    border-radius: 10px 50px 0 3px;
    border-top: 2.5px solid purple;
    border-bottom: 1px solid black;
}